$mainColor: red; // 변수 선언
$color-primary: #e96900;
$w: 200px;
$red: $mainColor;
$family: unquote(
  $string: "family",
); // Sass의 내장 함수 unquote()는 문자에서 따움표를 제거
@import url("http://www.sass.com/css?family=#{$family}");

h3 {
  color: $red;
}
.box {
  $color-primary: #eee !default; // 할당되지 않은 변수의 초깃값 설정
  //변수와 값을 설정하겠지만, 혹시 기존 변수가 있을 경우는 현재 설정하는 값 사용
  width: $w;
  margin-left: $w;
  background: $color-primary;
}
p {
  color: $color-primary;
}
// 증첩 사용 가능하다
//   .section
// .section .list
// .section .list li
.section {
  width: 100%;
  .list {
    padding: 20px;
  }
  li {
    float: left;
  }
}

// 위는 하위 선택자고
// 상위 선택자 참조할때는 & 문자 사용
.btn {
  position: absolute;
  &.active {
    color: red;
  }
}
.list {
  li {
    &:last-child {
      margin-right: 0;
    }
  }
}
/*
css 변환
.btn {
  position: absolute;
}
.btn.active {
  color: red;
}
.list li:last-child {
  margin-right: 0;
}
*/

// 이렇게도 가능
.fs {
  &-small {
    font-size: 12px;
  }
  &-medium {
    font-size: 14px;
  }
  &-large {
    font-size: 16px;
  }
}
/*
css.fs-small {
  font-size: 12px;
}
.fs-medium {
  font-size: 14px;
}
.fs-large {
  font-size: 16px;
}
*/

// @at-root (중첩 벗어나기)
// 중첩 안에서 생성하되 중첩 밖에서 사용해야 하는 경우에 유용
// 변수 때문에 사용하는 것 같음
.list {
  $w: 100px;
  $h: 50px;
  li {
    width: $w;
    height: $h;
  }
  @at-root .box {
    width: $w;
    height: $h;
  }
}
/**
.list li {
  width: 100px;
  height: 50px;
}
.box {
  width: 100px;
  height: 50px;
}
**/
