main {
  background-size: 100% 100%;
  display: grid;
  place-items: center;
  min-height: 80dvh;
}
main .container {
  display: grid;
  grid-template-columns: 300px 300px 300px 200px;
  border: 1px solid black;
  text-align: center;
  height: 10%;
}
main .container div {
  border: 1px solid black;
  text-align: left;
  padding: 10px;
  cursor: pointer;
}
main .container .search {
  background-color: orange;
}