<header>
    <div class="header-container">
        <div class="logo">
            <img class="mainLogo" src="/svg/mainLogo.svg" />
        </div>
        <nav class="nav-menu">
            <div class="compare">
                <span>비교하기</span>
            </div>
            <div class="cost-calc">
                <span>유지비 계산기</span>
            </div>
            <div class="car-recommend">
                <span>차량 추천</span>
            </div>
            <div class="spec-ranking">
                <span>제원 랭킹</span>
            </div>
            <div class="community">
                <span>커뮤니티</span>
            </div>
        </nav>
        <div class="user-menu">
            <% if (user) { %>
                <span class="user-nickname"><%= user.nickname %></span>
                <div class="notification-bell" title="알림">
                    <span class="bell-icon">🔔</span>
                    <span class="notification-badge hidden">0</span>
                </div>
                <button type="button" class="mypage-btn">마이페이지</button>
                <button type="button" class="logout-btn">로그아웃</button>
            <% } else { %>
                <button type="button" class="login-link">로그인</button>
            <% } %>
        </div>
    </div>
</header>
