<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <script src="/js/jquery-3.6.0.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/carCompare.css" />
    <script src="/js/common.js">
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비교하기</title>
</head>

<body>
    <%-include('header.ejs')%>
        <main>
            <div class="compare-section">
                <div class="compare-column">첫번째 차 이미지</div>
                <div class="compare-column">두번째 차 이미지</div>
            </div>
            <div class="compare-section">
                <div class="compare-column">첫번째 차 설명</div>
                <div class="compare-column">두번째 차 설명</div>
            </div>
        </main>
</body>

</html>