<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/carInfo.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/jquery-3.6.0.js"></script>
    <script src="/js/common.js"></script>

    <title>자동차 정보 : 카피디아</title>

</head>

<body>
    <%-include('header.ejs')%>
        <main>
            <div class="container">
                <div>차 이미지</div>
                <div class="engine_category">
                    <ul class="tab_list">
                        <li class="tab_item">
                            <a>
                                <span class="menu">1.6 가솔린 터보</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="tab_list">
                        <li class="tab_item">
                            <a>
                                <span class="menu">2.0 가솔린 터보</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div>
                    <div class="table_section">
                        <div class="middle_title">엔진</div>
                        <div class="table_area">
                            <div>
                                <table>
                                    <tbody>
                                        <tr>
                                            <th>엔진형식</th>
                                            <td>I4</td>
                                        </tr>
                                        <tr>
                                            <th>과급방식</th>
                                            <td>싱글터보</td>
                                        </tr>
                                        <tr>
                                            <th>배기량</th>
                                            <td>1,998cc</td>
                                        </tr>
                                        <tr>
                                            <th>연료</th>
                                            <td>가솔린</td>
                                        </tr>
                                        <tr>
                                            <th>최고출력</th>
                                            <td>275hp</td>
                                        </tr>
                                        <tr>
                                            <th>최대토크</th>
                                            <td>36kg.m</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="table_section">
                        <div class="middle_title">성능</div>
                        <div class="table_area">
                            <div>
                                <table>
                                    <tbody>
                                        <tr>
                                            <th>연비</th>
                                            <td>13.6km/L</td>
                                        </tr>
                                        <tr>
                                            <th>CO2 배출량</th>
                                            <td>140g/km</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="table_section">
                        <div class="middle_title">치수</div>
                        <div class="table_area">
                            <div>
                                <table>
                                    <tbody>
                                        <tr>
                                            <th>천장/전폭</th>
                                            <td>4,715mm / 1,910mm</td>
                                        </tr>
                                        <tr>
                                            <th>전고/축거</th>
                                            <td>1,630mm / 2,875mm</td>
                                        </tr>
                                        <tr>
                                            <th>윤거전/후</th>
                                            <td>1,651mm / 1,667mm</td>
                                        </tr>
                                        <tr>
                                            <th>공차중량</th>
                                            <td>1,905kg</td>
                                        </tr>
                                        <tr>
                                            <th>전륜타이어</th>
                                            <td>235mm / 60 / 18inch</td>
                                        </tr>
                                        <tr>
                                            <th>후륜타이어</th>
                                            <td>235mm / 60 / 18inch</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="table_section">
                        <div class="middle_title">섀시</div>
                        <div class="table_area">
                            <div>
                                <table>
                                    <tbody>
                                        <tr>
                                            <th>구동방식</th>
                                            <td>13.6km/L</td>
                                        </tr>
                                        <tr>
                                            <th>변속기</th>
                                            <td>자동8단</td>
                                        </tr>
                                        <tr>
                                            <th>전륜 서스펜션</th>
                                            <td>맥퍼슨 스트럿</td>
                                        </tr>
                                        <tr>
                                            <th>후륜 서스펜션</th>
                                            <td>멀티링크</td>
                                        </tr>
                                        <tr>
                                            <th>전륜 제동장치</th>
                                            <td>V디스크</td>
                                        </tr>
                                        <tr>
                                            <th>후륜 제동장치</th>
                                            <td>V디스크</td>
                                        </tr>
                                        <tr>
                                            <th>스티어링</th>
                                            <td>랙 앤 피니언</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

</body>

</html>