<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="/svg/favicon.svg">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <script src="/js/jquery-3.6.0.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/common.js"></script>

    <title>카피디아</title>
</head>

<body>
    <%-include('header.ejs')%>

        <main>
            <div class="container">
                <div class="search-form">
                    <!-- 제조사 드롭다운 -->
                    <div class="select-group">
                        <div class="custom-dropdown dropdown-btn" id="brand-dropdown">
                            <span class="selected">제조사</span>
                            <svg class="dropdown-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round">
                                <polyline points="6 9 12 15 18 9"></polyline>
                            </svg>
                            <ul class="dropdown-list">
                                <% manufacturers.forEach((manufacturer)=> { %>
                                    <li data-id="<%= manufacturer.manufacturerSeq %>">
                                        <%= manufacturer.manufacturerName %>
                                    </li>
                                    <% }) %>
                            </ul>
                        </div>
                    </div>

                    <!-- 모델 드롭다운 -->
                    <div class="select-group">
                        <div class="custom-dropdown dropdown-btn" id="model-dropdown">
                            <span class="selected">모델</span>
                            <svg class="dropdown-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round">
                                <polyline points="6 9 12 15 18 9"></polyline>
                            </svg>
                            <ul class="dropdown-list">
                                <li>아반떼</li>
                                <li>쏘나타</li>
                                <li>K5</li>
                                <li>G70</li>
                            </ul>
                        </div>
                    </div>

                    <!-- 세부 모델 드롭다운 -->
                    <div class="select-group">
                        <div class="custom-dropdown dropdown-btn" id="trim-dropdown">
                            <span class="selected">세부모델</span>
                            <svg class="dropdown-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round">
                                <polyline points="6 9 12 15 18 9"></polyline>
                            </svg>
                            <ul class="dropdown-list">
                                <li>N Line</li>
                                <li>스포츠 패키지</li>
                                <li>기본 트림</li>
                            </ul>
                        </div>
                    </div>

                    <!-- 검색 버튼 -->
                    <div class="search-button">
                        <button type="button" class="car-search">검색</button>
                    </div>
                </div>
            </div>
        </main>




</body>

</html>