<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <!-- select2 -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="/js/main.js"></script>
    <title>Document</title>
</head>

<body>

    <main>
        <div class="container">
            <div class="brand-div">
                <a>제조사</a>
            </div>
            <div class="car-div">
                <a>모델</a>
            </div>
            <div class="other">
                <a>세부모델</a>
            </div>
            <div class="search">
                <button>검색</button>
            </div>
        </div>

    </main>

</body>

</html>