<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <script src="/js/jquery-3.6.0.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/common.js"></script>
    <title>어서오세요</title>
</head>

<body>
    <%-include('header.ejs')%>

        <main>
            <div class="container">
                <div class="brand-div">
                    <a><span>제조사</span></a>
                </div>
                <div class="car-div">
                    <a><span>모델</span></a>
                </div>
                <div class="other">
                    <a><span>세부모델</span></a>
                </div>
                <div class="search car-search">
                    <button>검색</button>
                </div>
            </div>

        </main>

</body>

</html>